{% extends 'base.html' %}

{% block content %}
<div class="container px-md-4 py-3">
	<div class="row mb-3">
		<div class="col-lg-12">
			<h1>Create a new Genus</h1>
		</div>
	</div>
	<form method="post">
		<div class="form-group row">
			<label class="col-lg-2 col-form-label" for="name">Name</label>
    			<input class="col-lg-10 form-control" name="name" id="name" value="{{ request.form['name'] }}" required>
		</div>
		<div class="form-group row">
			<label class="col-lg-2 col-form-label" for="content">Content</label>
			<textarea class="col-lg-10 form-control" name="content" id="content" rows="6" value="{{ request.form['content'] }}" required></textarea>
		</div>
		<div class="form-group row">
			<label class="col-lg-2 col-form-label" for="parent">Parent</label>
    			<input class="col-lg-10 form-control" name="parent" id="parent" value="{{ request.form['parent'] }}" >
		</div>
    		<input class="btn btn-primary" type="submit" value="Save">
	</form>
</div>
{% endblock %}
